In [1]:
import pandas as pd
import numpy as np

In [4]:
file_path = "../Python/beginner datasets/insurance.csv"
df = pd.read_csv(file_path)

In [ ]:
#Nota: Ã¨ lo stesso esercizio della volta scorsa, ma stavolta da eseguire con il metodo .groupby()

In [46]:
# Visualizziamone le dimensioni, un'anteprima, e osserviamo i nomi di colonna;
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [6]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [11]:
df.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [ ]:
# Quali sono le medie di charges rispetto a region? Ci sono differenze significative?

In [19]:
medie_per_regione = df.groupby("region")["charges"].mean()
print(medie_per_regione)

region
northeast    13406.384516
northwest    12417.575374
southeast    14735.411438
southwest    12346.937377
Name: charges, dtype: float64

In [20]:
# E rispetto a smoker? 
medie_per_smoker = df.groupby("smoker")["charges"].mean()
print(medie_per_smoker)

smoker
no      8434.268298
yes    32050.231832
Name: charges, dtype: float64

In [21]:
#E per sex?
medie_per_sex = df.groupby("sex")["charges"].mean()
print(medie_per_sex)

sex
female    12569.578844
male      13956.751178
Name: charges, dtype: float64

In [44]:
#Quali sono i descrittori statistici di bmi? Quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi?
df.groupby('bmi').describe().transpose() # il transpose ribalta le colonne sulle righe

bmi                15.960       16.815       17.195        17.290      17.385  \
age      count     1.0000     2.000000      1.00000      3.000000     1.00000
         mean     18.0000    29.500000     26.00000     27.666667    23.00000
         std          NaN    12.020815          NaN      9.504385         NaN
         min      18.0000    21.000000     26.00000     18.000000    23.00000
         25%      18.0000    25.250000     26.00000     23.000000    23.00000
         50%      18.0000    29.500000     26.00000     28.000000    23.00000
         75%      18.0000    33.750000     26.00000     32.500000    23.00000
         max      18.0000    38.000000     26.00000     37.000000    23.00000
children count     1.0000     2.000000      1.00000      3.000000     1.00000
         mean      0.0000     1.500000      2.00000      1.333333     1.00000
         std          NaN     0.707107          NaN      1.154701         NaN
         min       0.0000     1.000000      2.00000      0.000000     1.00000
         25%       0.0000     1.250000      2.00000      1.000000     1.00000
         50%       0.0000     1.500000      2.00000      2.000000     1.00000
         75%       0.0000     1.750000      2.00000      2.000000     1.00000
         max       0.0000     2.000000      2.00000      2.000000     1.00000
charges  count     1.0000     2.000000      1.00000      3.000000     1.00000
         mean   1694.7964  4904.000350  14455.64405   7813.353433  2775.19215
         std          NaN  2455.844784          NaN   4619.986089         NaN
         min    1694.7964  3167.455850  14455.64405   3732.625100  2775.19215
         25%    1694.7964  4035.728100  14455.64405   5305.302600  2775.19215
         50%    1694.7964  4904.000350  14455.64405   6877.980100  2775.19215
         75%    1694.7964  5772.272600  14455.64405   9853.717600  2775.19215
         max    1694.7964  6640.544850  14455.64405  12829.455100  2775.19215

bmi               17.400     17.480     17.670      17.765    17.800  ...  \
age      count     1.000     1.0000     1.0000      1.0000     1.000  ...
         mean     21.000    19.0000    26.0000     32.0000    19.000  ...
         std         NaN        NaN        NaN         NaN       NaN  ...
         min      21.000    19.0000    26.0000     32.0000    19.000  ...
         25%      21.000    19.0000    26.0000     32.0000    19.000  ...
         50%      21.000    19.0000    26.0000     32.0000    19.000  ...
         75%      21.000    19.0000    26.0000     32.0000    19.000  ...
         max      21.000    19.0000    26.0000     32.0000    19.000  ...
children count     1.000     1.0000     1.0000      1.0000     1.000  ...
         mean      1.000     0.0000     0.0000      2.0000     0.000  ...
         std         NaN        NaN        NaN         NaN       NaN  ...
         min       1.000     0.0000     0.0000      2.0000     0.000  ...
         25%       1.000     0.0000     0.0000      2.0000     0.000  ...
         50%       1.000     0.0000     0.0000      2.0000     0.000  ...
         75%       1.000     0.0000     0.0000      2.0000     0.000  ...
         max       1.000     0.0000     0.0000      2.0000     0.000  ...
charges  count     1.000     1.0000     1.0000      1.0000     1.000  ...
         mean   2585.269  1621.3402  2680.9493  32734.1863  1727.785  ...
         std         NaN        NaN        NaN         NaN       NaN  ...
         min    2585.269  1621.3402  2680.9493  32734.1863  1727.785  ...
         25%    2585.269  1621.3402  2680.9493  32734.1863  1727.785  ...
         50%    2585.269  1621.3402  2680.9493  32734.1863  1727.785  ...
         75%    2585.269  1621.3402  2680.9493  32734.1863  1727.785  ...
         max    2585.269  1621.3402  2680.9493  32734.1863  1727.785  ...

bmi                 46.750       47.410     47.520     47.600     47.740  \
age      count      1.0000      1.00000     1.0000      1.000     1.0000
         mean      52.0000     54.00000    47.0000     37.000    52.0000
         std           NaN          NaN        NaN        NaN        NaN
         min       52.0000     54.00000    47.0000     37.000    52.0000
         25%       52.0000     54.00000    47.0000     37.000    52.0000
         50%       52.0000     54.00000    47.0000     37.000    52.0000
         75%       52.0000     54.00000    47.0000     37.000    52.0000
         max       52.0000     54.00000    47.0000     37.000    52.0000
children count      1.0000      1.00000     1.0000      1.000     1.0000
         mean       5.0000      0.00000     1.0000      2.000     1.0000
         std           NaN          NaN        NaN        NaN        NaN
         min        5.0000      0.00000     1.0000      2.000     1.0000
         25%        5.0000      0.00000     1.0000      2.000     1.0000
         50%        5.0000      0.00000     1.0000      2.000     1.0000
         75%        5.0000      0.00000     1.0000      2.000     1.0000
         max        5.0000      0.00000     1.0000      2.000     1.0000
charges  count      1.0000      1.00000     1.0000      1.000     1.0000
         mean   12592.5345  63770.42801  8083.9198  46113.511  9748.9106
         std           NaN          NaN        NaN        NaN        NaN
         min    12592.5345  63770.42801  8083.9198  46113.511  9748.9106
         25%    12592.5345  63770.42801  8083.9198  46113.511  9748.9106
         50%    12592.5345  63770.42801  8083.9198  46113.511  9748.9106
         75%    12592.5345  63770.42801  8083.9198  46113.511  9748.9106
         max    12592.5345  63770.42801  8083.9198  46113.511  9748.9106

bmi                48.070      49.060     50.380      52.580     53.130
age      count     1.0000      1.0000     1.0000      1.0000     1.0000
         mean     46.0000     58.0000    23.0000     22.0000    18.0000
         std          NaN         NaN        NaN         NaN        NaN
         min      46.0000     58.0000    23.0000     22.0000    18.0000
         25%      46.0000     58.0000    23.0000     22.0000    18.0000
         50%      46.0000     58.0000    23.0000     22.0000    18.0000
         75%      46.0000     58.0000    23.0000     22.0000    18.0000
         max      46.0000     58.0000    23.0000     22.0000    18.0000
children count     1.0000      1.0000     1.0000      1.0000     1.0000
         mean      2.0000      0.0000     1.0000      1.0000     0.0000
         std          NaN         NaN        NaN         NaN        NaN
         min       2.0000      0.0000     1.0000      1.0000     0.0000
         25%       2.0000      0.0000     1.0000      1.0000     0.0000
         50%       2.0000      0.0000     1.0000      1.0000     0.0000
         75%       2.0000      0.0000     1.0000      1.0000     0.0000
         max       2.0000      0.0000     1.0000      1.0000     0.0000
charges  count     1.0000      1.0000     1.0000      1.0000     1.0000
         mean   9432.9253  11381.3254  2438.0552  44501.3982  1163.4627
         std          NaN         NaN        NaN         NaN        NaN
         min    9432.9253  11381.3254  2438.0552  44501.3982  1163.4627
         25%    9432.9253  11381.3254  2438.0552  44501.3982  1163.4627
         50%    9432.9253  11381.3254  2438.0552  44501.3982  1163.4627
         75%    9432.9253  11381.3254  2438.0552  44501.3982  1163.4627
         max    9432.9253  11381.3254  2438.0552  44501.3982  1163.4627

[24 rows x 548 columns]

In [45]:
quartili_bmi = pd.qcut(df["bmi"], q=4)

dati = df.groupby(quartili_bmi)["charges"].agg(["min", "mean", "max"]).transpose()
print(dati)

bmi   (15.959000000000001, 26.296]  (26.296, 30.4]  (30.4, 34.694]  \
min                    1121.873900     1131.506600     1135.940700
mean                  10360.662825    11407.831468    14358.173081
max                   38245.593270    62592.873090    60021.398970

bmi   (34.694, 53.13]
min       1141.445100
mean     16987.936691
max      63770.428010

C:\Users\matte\AppData\Local\Temp\ipykernel_6256\3051026042.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  dati = df.groupby(quartili_bmi)["charges"].agg(["min", "mean", "max"]).transpose()